header {
	font-weight: bold;
	text-align: center;
	font-size: 40px;
    background-color: black;
    color : white;
}


footer {
	border-top: 10px solid #ccc;
	padding-top: 10px;
	text-align: center;
}